html * {
    margin: 0px;
    padding: 0px;
}
canvas {
    background-color: rgb(200, 240, 240);
    width: 100vw;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
    float: left;
}